files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        Upgrade         $http_upgrade;
              proxy_set_header        Connection      "upgrade";
              proxy_buffers           8               32k;
              proxy_buffer_size       64k;
              proxy_redirect          off;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGDTCCBPWgAwIBAgISA8V3E3PIjQerg2ISzq/e2ZsQMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xNzA1MjkxNDUwMDBaFw0x
      NzA4MjcxNDUwMDBaMCAxHjAcBgNVBAMTFWRldi1zb2NrZXQudHJpbXJ6LmNvbTCC
      AiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAJaIc78xYUO6tily61+wIu/a
      aIf3nLz5hWw9U1maivxtSahb92z0ZOhsRenUBMcY1cbqQCvx0QezjUqMlNbDrmWt
      Ec8n4Pco3atLYmJb6gi8yqL0iZdQ6OwKLBYo0pXD0VYzFOTRcs1UD4NP6mc5SIen
      sYoG1KlZi75QhMPBeR/tqGmqQUL8bXIQc3dVxb6YLM7/JuBU3xTF4TepacEIhXhv
      7/NKltNUsOM4NY1Ac4qz09Lp8uHgnw5YAIVazRq3gChrvu4UCI/XwArgP4pmN2Xt
      x6CXwk0ilWB5/mo6mD0MusfIlFGzqHHRQGxYhm/69vryu6aA3TL4wrbOcBnmhqwB
      NFWAF3UR7tjUiw+qdO4Rbs21Nx/YAlzStDRoDJKdld7tj0EQMV2jlcxUJC3ubQFZ
      QhgAxh10iJ3RJsJp+ZREMSi0en9kUMBxik9VuoUuWG/eLnoSNFIcfojmUe/6zlOM
      IxPSawKtAy8uSR4tUo/M2eHXO1nRCwDZwsNC9B8llxtyjY30F7O0DvvnYV4mKjLd
      stfNAFIdEuaxoMvIaopF70uRpBqeu9DB4PPr8Gac/ONHDLo5wbs6NeSrM786J8P1
      SWu/hf/AZtxy3fj/W7dPKmpQ1FUbIjolm17yuLl36jMnb9h4odJDFsan8m78n6dL
      Y78woTZFXOCGNyrVAEXJAgMBAAGjggIVMIICETAOBgNVHQ8BAf8EBAMCBaAwHQYD
      VR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0O
      BBYEFNrUTS/waBOxw1LyKk0MGIobTlFLMB8GA1UdIwQYMBaAFKhKamMEfd265tE5
      t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29j
      c3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2Nl
      cnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8wIAYDVR0RBBkwF4IVZGV2LXNvY2tl
      dC50cmltcnouY29tMIH+BgNVHSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLf
      EwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcw
      gasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSBy
      ZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3Jk
      YW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6
      Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9yeS8wDQYJKoZIhvcNAQELBQADggEB
      AB7Cf5+FdKyC95zDiqZyCi+ROg7pyBVvdZVeRVYuLULd+goz6PsrBAgf3xH54q+Y
      WmXZrnSL3AxkvuKeUTxWNtmzIqYFkmvowAvX53N/gHWCwUlMGZACi9JP8Ea+sOIU
      +pf3ojX800CbXxvWZMvPnvCSfa/XX85jyGOkDN+SVnjx+O+/LoM3UjnrmcpSX+cG
      awh2F5XjCnfdus4aJBduMqj092DKaVPUd3quQHltiHMEarDY3c23l6FBBBG8likl
      O33tdVaOC+rLvYZ8dXPWHpLg8ioKJkupzk840ZgCNQIzMThOkPdcHbEEfHgs2mt/
      Fd3hqvMjwCYiuVhcaZDQ1qU=
      -----END CERTIFICATE-----

      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJJwIBAAKCAgEAlohzvzFhQ7q2KXLrX7Ai79poh/ecvPmFbD1TWZqK/G1JqFv3
      bPRk6GxF6dQExxjVxupAK/HRB7ONSoyU1sOuZa0Rzyfg9yjdq0tiYlvqCLzKovSJ
      l1Do7AosFijSlcPRVjMU5NFyzVQPg0/qZzlIh6exigbUqVmLvlCEw8F5H+2oaapB
      QvxtchBzd1XFvpgszv8m4FTfFMXhN6lpwQiFeG/v80qW01Sw4zg1jUBzirPT0uny
      4eCfDlgAhVrNGreAKGu+7hQIj9fACuA/imY3Ze3HoJfCTSKVYHn+ajqYPQy6x8iU
      UbOocdFAbFiGb/r2+vK7poDdMvjCts5wGeaGrAE0VYAXdRHu2NSLD6p07hFuzbU3
      H9gCXNK0NGgMkp2V3u2PQRAxXaOVzFQkLe5tAVlCGADGHXSIndEmwmn5lEQxKLR6
      f2RQwHGKT1W6hS5Yb94uehI0Uhx+iOZR7/rOU4wjE9JrAq0DLy5JHi1Sj8zZ4dc7
      WdELANnCw0L0HyWXG3KNjfQXs7QO++dhXiYqMt2y180AUh0S5rGgy8hqikXvS5Gk
      Gp670MHg8+vwZpz840cMujnBuzo15Kszvzonw/VJa7+F/8Bm3HLd+P9bt08qalDU
      VRsiOiWbXvK4uXfqMydv2Hih0kMWxqfybvyfp0tjvzChNkVc4IY3KtUARckCAwEA
      AQKCAgAc30skDrqTHQq3ZH1UuxnYW1HVUl7TuCApJJIKC6RAyk1oZ0tLsIxyL+Iw
      +SN5dH/8SQ3J3/WxvnSJKfGaR6n5gnp5+zIg9cuegTT7nJmE14EeRDznsvMZ4tGV
      5nqNkyNhnyaQxMN6MndPPlK9PbV1n2pkCO9dE/nDpPnx+ffbcd/tdGRUDsqHKDSd
      XOwypElj4nh4ao7nExUhcfMAvTusX/vr9BB9tC7BRhSvZP9EST2FpK2bOVQIkkR3
      T3UrfKquFgxm6ZzCyiThcSV+zCAwAq1ZVgJEfS+dc4iio15zxy9EBmq8SPMz8Wij
      307Zx477jvcC9pB2qFPgcDP8I8UMiKOOcOpiCgUu68VjOqmIQd+ZPwN1YT6fDA4r
      mDXka6GTpPjz2LROSPwvoI37ImRRExVUmkg5nDnb3wdqPZKhGSR2JrIhNQA1OmF0
      DKyI3tNavZ3gWHLMc9C4cqC6bAWwKqrNVlK2BqEx2SE7LU1qpibcFM4ADtBipBOW
      doqm1bJHuQnb2sSgjJdrooSBL3Eapv1uyBRP/V6WBkAkD8hPp1IiJYfHe+1YOnlQ
      qvD+fUCGMkSTYIqAExf5yOyepFrCbgued9a5bfAI9FPfEapG6YqBZkPTQmEsprTu
      JWhXQJpR+GE4bq0cAMutEkn8eEdbLQgRGTxOzM2StsIjxvgsCQKCAQEA4R7ylLpK
      GK5BgdiPNXX4iPbItgMigYMi7QVp9+SPmFv/BeuCg1R+H+bBA3j7fqdf70Th/SKJ
      lGKnAE5amiNgSxp74MVAWGfkawBkvnoUD8JgVJHAGhIX5GWnLdsoWZfc5ajZgvSh
      CW8TuTLOFwbM9D1F0M+RtEDfs12JzyDHc0rfXyCNAqCO3yBIP2jP0jbZzui0u9b1
      1LlwVDVIbdGa9TQ/RX5W30GxO0j93BUzZkZI9W3F2mkFqiIK2kVeDOHaF9+CEuBN
      bt5QITDYSnHOU0nSltzWl/g6upmkjibDSkdwGBgun9/avDMwkwfgbGnRnlZ/tFGa
      CBnokzw9bzn3zwKCAQEAqy5fsSQqHCzl/2TtiTlkApYEIQl1Hbd4kd9ZrzhAQAsB
      yFhqFEsSz299bknvgaobS8xrqoAvDhBfzffIsWRs1uH7f1i0k2VU3XeUCG8MZwss
      emgaAivSYYnTb9sUwrucujZzJjM1F3oHc47ffkW72VrdCj+Hfr2iykvBiPvC5U/p
      kSIJ7qUk428ArnHHuGO5rANUR/bkakR1APSHY05ymg1rNao+rs0CZ/j2GPJEElwb
      lfQM/hTL7tGkw86ohPC6JsVYb3wAgqBRQBqgnUMFDUgdMG5RnyNWYg3jupYFeWfk
      hv0PJihaYpp5psvezL3PEcwTBUODIDZPjoSXGtQ25wKCAQBbL5/u4m51BNB/+eo4
      K2raf6vZHffyId4Zx+GeibQocMsh6L1a2PSlk2CHOZAVQ1K2pl4rnLvBoRwoIZTN
      bprokPewmfVwWdTKCsTD6ssJfyBp4QfBB6cp2osXJfh4Ie1WEUjZpKE+IwIIOC4G
      YbjPDaqj5BAOxWBXVQInJg3kA2XrMFItyD9W3cql9JyJd7JN/zCGDZJR8jMvyM1n
      vklYHSuryHsDv6Y8b1p0tRm2ya1vzGEiEPw8Z8GhnAt2iF1A4kXbw4NZ7y7h4tkZ
      fnOmhPaKKTW7JM8VGnrvIYBlK/6Zo+Hu3EvLg6ifRcd/4nUH/92Geq87rNLqILJ5
      xS89AoIBAFYclfa+gpB55Zl8ZCHLxQun+5vC7i9sxDJdcPg8C9Yrs1HdaD+dJHFF
      XIvGlb1cnS6cPu0eXo1sn0U1iLf0FOxj8eg172DWcMKYDNfRRSPw8wcAp1TARqza
      cIqsYt0zE7x496QXznVo5aa0EKms2rqUgu1M2BRhwSqSwWDvhTNl59Eilmx+lvfy
      Nx2KDzYqtJRbeGJbSLxMg69fU1wZcn0ckvoEElRMvREgpGwYMzYpL5dXldGbFJum
      yoPVyeBWWM54J+ytLHSJwVXGD1YNCNWNmWFrnZO4axQYeJ68KTTRlpxxYNWJJy7D
      Fr9Zf1LviOMjDc5wD958c7j16i2M47ECggEAREPHjkT4qAAFJtUdkea233v4XA3c
      oI5Ys26UPeh0Jh+dKbnm4PoC7Pe4taV5P4Xmj2QxcjWHqQr0LKOOnB0wvawxmRs6
      5LJvndIEzLr2LXfTKcWQOzJdXHs5a8MGJL872M09uDhVv7JkGohgdDR0yy5zoEEL
      d6XphffIP8YZHwW0CvHgx/465YJiJzX2appDtWj8ck/z++pnnJw+iUKIarSm6YoR
      T2MUIuEYd9j6SbAyO6bBQ7Q5+TP7lFXxUcsyWD/9V9aQ3p3z5MI407mPVkowAWbe
      TQnVrIhnMd34TbTpSosdfd2if0hsBDQCqxZwK5wCrAKPBDdFjBQP5OdhOQ==
      -----END RSA PRIVATE KEY-----
